@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.bg-image {
    background-image: url(../img/jumbotron.png);
    z-index: 3;
    height: 100vh;
    background-size: cover;
    background-position-y: -70px;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

nav {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 30px;
    /* border-bottom: 3px solid black; */
    position: fixed;
    top: 10px;
    z-index: 2;
    border: 1px solid gray;
    border-radius: 2em;
}

.leftnav {
    display: flex;
    align-items: center;
    /* padding: 0px 5px; */
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid black; */
    transform: translateY(-10px);
}

.leftnav li {
    /* margin: 0 15px; */
}

.leftnav li a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
}

.leftnav li a:hover {
    color: blue;
}

.rightnav a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.rightnav, .leftnav {
    margin-top: 20px;
}

.rightnav {
    margin-top: 0px;
    margin-left: 20px;
}

/* deskripsi */
.bg-image .deskripsi h2{
    position: relative;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 2.5em;
    left: 15%;
    top: 40vh;
    text-transform: capitalize;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
}

/* button */
.button {
    position: absolute;
    cursor: pointer;
    bottom: 250px;
    left: 42%;
    height: 40px;
    width: 150px;
    border-radius: 2em;
    background-color: rgb(243, 34, 34);
    text-align: center;
    line-height: 40px;
    box-shadow: 2px 2px 2px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: red;
}

/* menu utama */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
}

.container ul {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    width: 100%;
}

.container .icon li,
.container .icon li img {
    width: 120px;
    height: 120px;
    /* object-fit: cover; */
    list-style: none;
    /* border-radius: 50%; */
    /* border: 1px solid black; */
}

.container .icon li {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-direction: column;
}

.container h3 {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
}

.container .teks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    list-style: none;
    transform: translateY(-70px);
}

.container .teks li,
.container .teks li a {
    width: 200px;
    text-decoration: none;
    /* border: 1px solid black; */
    text-align: center;
}

/* media pembelajaran */
.media {
    min-height: 170vh;
    background-image: url(../img/bg-2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.media .materi {    
    /* border: 1px solid blue; */
    height: 100%;
}

.media .materi .pert1 {
    position: relative;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(75px);
}

.media .materi .pert1 h3 {
    position: absolute;
    top: 0;
    transform: translateY(-50px);
}

.media .materi .pert2 {
    position: relative;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(200px);
}

.media .materi .pert2 h3 {
    position: absolute;
    top: 0;
    transform: translateY(-50px);
}

/* footer */
footer {
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    color: white;
    height: 40px;
    text-shadow: 2px 2px 2px black;
    line-height: 40px;
}